{% extends "layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}
{% block header_title %}<i class="fas fa-key me-2"></i>Change Password{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card main-card mb-4">
            <div class="card-body">
                {% if forced %}
                    <div class="alert alert-warning">
                        You must set a new password before continuing.
                    </div>
                {% endif %}

                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}

                    {% include "partials/password_rules_checklist.html" with input_id=form.new_password1.id_for_label list_id="new-password1-rules" %}

                    <button type="submit" class="btn btn-primary">Update Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'crm/js/password_rules.js' %}"></script>
{% endblock %}
