{% comment %}
Renders a live password rules checklist next to a password input.
Usage:
    {% include "partials/password_rules_checklist.html" with input_id="id_password1" list_id="password1-rules" %}
The rule labels here must stay in sync with crm/password_validation.py.
{% endcomment %}
<ul id="{{ list_id }}" class="list-unstyled small mb-3">
    <li data-rule="length" class="text-danger"><i class="fa-solid fa-times-circle rule-icon me-1"></i>At least 8 characters</li>
    <li data-rule="uppercase" class="text-danger"><i class="fa-solid fa-times-circle rule-icon me-1"></i>At least one uppercase letter (A-Z)</li>
    <li data-rule="lowercase" class="text-danger"><i class="fa-solid fa-times-circle rule-icon me-1"></i>At least one lowercase letter (a-z)</li>
    <li data-rule="number" class="text-danger"><i class="fa-solid fa-times-circle rule-icon me-1"></i>At least one number (0-9)</li>
    <li data-rule="symbol" class="text-danger"><i class="fa-solid fa-times-circle rule-icon me-1"></i>At least one special character (e.g. !@#$%^&*)</li>
</ul>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        initPasswordRulesChecklist("{{ input_id }}", "{{ list_id }}");
    });
</script>
